/* Targeting the root element for custom properties */
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);

    /* Font-family properties */
    --font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-title: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* Font-size properties */
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;

    /* Font-weight properties */
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Line-height properties */
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;

    /* Custom properties for section elements */
    --section-header-align: center;
    --section-tagline-transform: uppercase;
    --section-title-margin: 0;
    --section-title-color: var(--color-black);
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    color: var(--text-color);
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
}

/* Target anchor elements that contain hyperlinks */
a[href] {
    color: #161616;
    text-decoration: none;
}

/* Visited state for links */
a[href]:visited {
    font-style: italic; /* Italicize the text when visited */
}

/* Hover state for links */
a[href]:hover {
    text-decoration: underline; /* Underline the link on hover */
}

/* Active state for links */
a[href]:active {
    background-color: var(--color-light-grey); /* Set background color when active */
}

/* Targeting section-header class */
.section-header {
    text-align: var(--section-header-align);
}

/* Targeting section-title class */
.section-title {
    font-family: var(--font-family-title); /* Setting the font family */
    font-size: var(--font-size-xx-large); /* Setting font size */
    font-weight: var(--font-weight-bold); /* Setting font weight to bold */
    margin: var(--section-title-margin); /* Using the custom margin property */
    color: var(--section-title-color); /* Using the custom color property */
}

/* Targeting section-tagline class */
.section-tagline {
    font-family: var(--font-family-title); /* Setting the font family */
    text-transform: var(--section-tagline-transform); /* Transforming text to uppercase */
    font-weight: var(--font-weight-bold); /* Setting font weight to bold */
}

.visually-hidden {
    display: none;
}

.card-category {
    color: var(--color-primary);
}
